:root {
    /*Primary*/
    --moderate-cyan: hsl(176, 50%, 47%);
    --dark-cyan: hsl(176, 72%, 28%);

    /*Neutral*/
    --black: hsl(0, 0%, 0%);
    --dark-gray: hsl(0, 0%, 48%);
}



/*modal animation*/
.fadeInModal {
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: both;

}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}


.fadeOutModal {
    animation-name: fadeOut;
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
} 