* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
    outline: none;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

html, body {
    height: 100%;
    font-size: 16px;
}
