@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
    outline: none;
    font-family: 'Commissioner', sans-serif;
}   

a {
    text-decoration: none;
}


li {
    list-style: none;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

html, body {
    font-size: 16px;
    background-color: #fafafa;
    min-height:100%;
    position: relative;
}




